html, body, div, span, h1, h2, h3, p, a, form, label, input, textarea, table, tbody, tr, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}
body {
    line-height: 1;
}